name: Unity Package Unit Tests
permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:
    branches:
        - main
    types: [ready_for_review,opened,reopened,auto_merge_enabled,review_requested]

jobs:
  CheckChangedFiles:
    runs-on: ubuntu-latest
    outputs:
      csharp_files_changed: ${{ steps.changed-csharp-files.outputs.any_changed }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
            
      - name: Get All Changed csharp Files
        id: changed-csharp-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62
        with:
          files: |
            **.cs
            
      - name: List All Changed Files
        if: steps.changed-csharp-files.outputs.any_changed == 'true'
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-markdown-files.outputs.all_changed_files }}
        run: |
          for file in ${ALL_CHANGED_FILES}; do
            echo "$file was changed"
          done

  RunTests:
    name: Run Runtime Tests
    runs-on: ubuntu-latest
    needs: [CheckChangedFiles]
    if: needs.checkChangedFiles.outputs.csharp_files_changed == 'true'
    env:
      #The package must be checked out into a folder. Putting it in the root directory will cause an error
      #This is a limitation of the game-ci/unity-test-runner@v4.3.1 actions
      PROJECT_PATH: 'my-package'
      #Unit version must be set explicitly when testing a package
      UNITY_VERSION: '6000.2.8f1'
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
            path: ${{ env.PROJECT_PATH }}
            
      - name: Cache Unity Library
        uses: actions/cache@v4.3.0
        with:
            path: TempProject/Library
            key: lib-${{ runner.os }}-${{ env.UNITY_VERSION }}-${{ hashFiles(format('{0}/package.json', env.PROJECT_PATH)) }}
            restore-keys: |
              lib-${{ runner.os }}-${{ env.UNITY_VERSION }}-
        
      - name: Run Unit tests
        uses: game-ci/unity-test-runner@v4.3.1
        env:
            UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
            UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
            UNITY_LICENSE: ${{secrets.UNITY_LICENSE}}
            #Write string as 'assembly1,assembly2'...
            ASSEMBLIES_TO_COVER: ''
        with:
            packageMode: true
            unityVersion: ${{ env.UNITY_VERSION }}
            projectPath: ${{ env.PROJECT_PATH }}
            coverageOptions: generateAdditionalMetrics;generateHtmlReport;generateBadgeReport;dontClear;assembliesToInclude=${{env.ASSEMBLIES_TO_COVER}}
            
      - name: Upload Test Results
        uses: actions/upload-artifact@v5.0.0
        if: always() # 'always()' ensures this runs even if tests fail
        with:
            name: test-playmode-results
            path: artifacts
